* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  /*margin-top: 10em; /* Cette ligne fout le bordel, attention. */
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

/* La navbar */

nav {
  background-image: linear-gradient(0deg, #333 0%, #222 0.6em, #222 100%);
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  display: inline-block;
}

nav a {
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #ddd;
  border-right: 1px solid #555;
}

#ptilogo {
  border-radius: 0em 0 0 1.5em;
  border-left: 1px solid #555;
}

#btnapropos {
  border-radius: 0 0em 1.5em 0;
}

nav a:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.5) inset;
}

nav a:active {
  color: #aaa;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

.contenudumenu {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #ddd;
  overflow: auto;
  border: 1px solid #111;
  min-width: 10em;
}

.contenudumenu a {
  padding: 0.3em;
  text-align: left;
  color: #111;
}

.contenudumenu a:hover {
}

.menu:hover .contenudumenu {
  display: block;
}

/* Le décaleur */

.decaleur {
  margin:0;
  z-index: -1;
}

.decaleur p {
  display: block;
  padding: 1em;
}

/* Le reste */

.conteneur {
  text-align: center;
  background-color: #ccc;
}

.hellosalut {
  margin: 1em;
  width: 90%;
  max-width: 1000px;
}

.contenu {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
}

.bloc-theme {
  margin: 1em;
  background-color: #ddd;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.4);
  text-align: justify;
  overflow: auto;
  color: #222;
}

.bloc-theme h1, .bloc-theme h2 {
  text-align: center;
  margin: 0.5em;
}

.bloc-theme p {
  display: inline-block;
  margin: 1em;
}

.flottegauche {
  float: left;
  width: 50%;
}

.textuel {
  float: right;
  width: 50%
}

#annonce {
  text-align: center;
  font-weight: bold;
}

/* Le pied-de-page */

footer {
  width: 100%;
  background-image: linear-gradient(180deg, #333 0%, #222 0.6em, #222 100%);
  background-color: #222;
  color: #ddd;
  padding: 2em;
  box-shadow: 0px -2px 3px rgba(0,0,0,0.5);
}

footer p {
  overflow: hidden;
}
