* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Geneva, Verdana, sans-serif;
  text-align: center;
  background-color: #222;
}

a {
  text-decoration: none;
  color: inherit;
}

/* La navbar */

nav {
  background-image: linear-gradient(0deg, #333 0%, #222 0.6em, #222 100%);
  background-color: #222;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.5);
  z-index: 3;
}

nav ul {
  list-style-type: none;
  overflow: hidden;
}

nav li {
  display: inline-block;
}

nav a, label[for="tres_cool"] {
  transition: all 0.3s;
  display: block;
  padding: 1em;
  text-decoration: none;
  color: #ddd;
  border-right: 1px solid #555;
  box-shadow: none;
}

label[for="tres_cool"] {
  cursor: pointer;
  border-radius: 0em 0 0 1.5em;
  border-left: 1px solid #555;
}

input[type="checkbox"] {
  display:none;
  position: absolute;
  top: -50px;
}

#btnapropos {
  border-radius: 0 0em 1.5em 0;
}

nav a:hover, label[for="tres_cool"]:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7) inset;
}

nav a:active {
  color: #aaa;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

/* Le décaleur */

.decaleur {
  margin:0;
  z-index: -1;
}

.decaleur p {
  display: block;
  padding: 1em;
}

/* Le menu de gauche */

aside {
  background-image: linear-gradient(270deg, #333 0%, #222 0.6em, #222 100%);
  background-color: #222;
  color: #ddd;

  height: 100%;
  width: 500px;

  position: fixed;
  top: 0;
  left: -100%;
  z-index: 2;

  transition: 0.5s all;
}

input[type="checkbox"]:checked + aside {
  left: 0;
  box-shadow: 5px 0px 1000px rgba(0,0,0,0.9);
}

.barreducote {
}

.barreducote hr {
  margin: 1em;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, #333 0%, #666 50%, #333 100%);
  background-color: #ddd;
}

.barreducote h1 {
  margin: 0.5em;
}

.barreducote a {
  display: block;
  padding: 0.4em;
  border-bottom: 1px solid #555;
  list-style-type: none;
  text-align: left;
}

.barreducote li:first-child a {
  border-top: 1px solid #555;
  border-radius: 0 1em 0 0;
}

.barreducote li:last-child a {
  border-radius: 0 0 1em 0;
}

.barreducote a:hover {
  box-shadow: 0px 0px 5px rgba(0,0,0,0.7) inset;
}

.barreducote a:active {
  color: #aaa;
  box-shadow: 0px 0px 3px rgba(0,0,0,0.5);
}

/* Le contenu principal */

.conteneur {
  text-align: center;
  background-color: #ccc;
}

.hellosalut {
  margin: 1em;
  width: 90%;
  max-width: 1000px;
}

.contenu {
  display: inline-block;
  width: 100%;
  max-width: 1000px;
}

.bloc-theme {
  transition: all 0.3s;
  margin: 1em;
  background-color: #ddd;
  border: 1px solid #777;
  border-radius: 10px;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.4);
  text-align: justify;
  overflow: hidden;
  color: #222;
}

.bloc-theme h1, .bloc-theme h2 {
  text-align: center;
  margin: 0.5em 0.5em 0 0.5em;
}

.bloc-theme p {
  display: inline-block;
  margin: 1.5em;
  text-indent: 2em;
}

.bloc-theme img {
  transition: all 0.3s;
  transform: scale(1);
  box-shadow: none;
  z-index: 0;
}

.bloc-theme img:hover {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  z-index: 1
}

.flottedroit {
  float: right;
  width: 40%;
}

.flottegauche {
  float: left;
  width: 40%;
}

.textueldroit {
  float: right;
  width: 60%
}

.textuelgauche {
  float: left;
  width: 60%;
}

#annonce {
  transition: all 0.3s;
  text-align: center;
  font-weight: bold;
  transform: rotate(0deg);
}

#annonce:hover {
  transform: rotate(1.5deg);
}

/* Le pied-de-page */

footer {
  width: 100%;
  background-image: linear-gradient(180deg, #333 0%, #222 0.6em, #222 100%);
  background-color: #222;
  color: #ddd;
  padding: 2em;
  box-shadow: 0px -2px 3px rgba(0,0,0,0.5);
}

footer p {
  overflow: hidden;
}

/* Spécificités du site desktop */



/* La version mobile */

@media (max-width: 930px) {

  nav a {
    display: none;
  }

  aside {
    width: 100%;
  }

  label[for="tres_cool"] {
    border-radius: 20em;
  }

  .bloc-theme {
    margin: 0;
    border: none;
    border-radius: 0;
    text-align: center;
  }

  .textueldroit, .textuelgauche {
    float: none;
    width: 100%;
  }

  .bloc-theme img {
    display: none;
  }

  .bloc-theme h1, .bloc-theme h2 {
    margin: 1em;
  }

  .bloc-theme p {
    display: none;
  }

  #annonce p, #article p {
    display: block;
  }

}
